<div class="w3-sidebar w3-bar-block w3-black" style="width:70px">
  <a href="#" class="logo"><img src="../../../accomplish-logo.png" width="60" height="60"></a>
  <a href="#" class="sideicon"><img src="../../../assets/images/Drawing-3.sketchpad.png" width="60" height="60"></a>
  <a href="#" class="sideicon"><img src="../../../assets/images/Drawing-4.sketchpad.png" width="60" height="60"></a>
  <a href="#" class="sideicon"><img src="../../../assets/images/Drawing-5.sketchpad.png" width="60" height="60"></a>
</div>